.font {
    font-style: oblique;
}

hr {
    
    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 10px;
    width: 90%;
}

input {
    width: 20%;
}

textarea {
    width: 20%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }