body {
    background-color: #00B4D8;
}

.font {
    font-style: italic;
}

hr {
    
    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 10px;
    width: 90%;
}

h1 {
    color: black;
}

h3 {
    color: black;
}